#calculator-container {
    height: 400px;
    width: 240px;
    background-color: black;
    padding: 15px;
    border-radius: 15px;
}

#display-container {
    display: flex;
    height: 15%;
    color: orange;
    font-size: 30px;
    justify-content: flex-end;
}

#keys-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 85%;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

button {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}
